* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0;
  line-height: normal;
}

body {
  background-image: url('/images/shop-by-ashim-dsilva.jpg');
  background-repeat: no-repeat;
  position: relative;
  background-size: 1300px;
  background-position-x: -200px;
  background-position-y: -50px;
  @media (min-width: 500px) {
    background-position-x: -0px;
    background-position-y: 0px;
  }
  @media (min-width: 1024px) {
    background-size: cover;
  }
  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba($color: #000000, $alpha: 0.5);
    box-shadow: inset 0 0 8rem rgba(0, 0, 0, 1);
    z-index: -1;
    @media (min-width: 500px) {
      height: 100vh;
    }
  }
}

input {
  outline: none;
  border: none;
  background: none;
}

input:focus {
  outline: none;
  background: none;
}

button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}


